/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: disc;
    list-style-position: inside;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* DESIGN SYSTEM */
:root {
    /* Font family */
    --font-primary: 'Ubuntu', 'Segoe UI', sans-serif;

    /* Font sizes */
    --fs-sm: 0.875rem;
    --fs-body: 1rem;
    --fs-lead: 1.25rem;
    --fs-lg: 1.75rem;
    --fs-xl: 2.375rem;
    --fs-2xl: 3.25rem;

    /* Font weights */
    --fw-regular: 400;
    --fw-bold: 700;

    /* Color pallete */
    --main: #1e94fc;
    --main10: rgba(30, 148, 252, 0.10);
    --main20: rgba(30, 148, 252, 0.20);
    --main-translucid: #1e94fc99;
    --secondary: #452E7E;
    --accent: #E4ED36;
    --accent60: rgba(228, 237, 54, 0.60);
    --texts: #ECF5F8;
    --background-01: #000000;
    --background-02: #03070a;
    --background-03: #00203b;
    --h-gradient: linear-gradient(to right, #070D11, #002240);

    /* Spacing */
    --sp-0: 0.5rem;
    /* 6 px */
    --sp-1: 0.75rem;
    /* 12 px */
    --sp-2: 1rem;
    /* 16 px */
    --sp-3: 1.25rem;
    /* 20 px */
    --sp-4: 1.5rem;
    /* 24 px */
    --sp-8: 2.5rem;
    /* 40 px */
    --sp-12: 3.5rem;
    /* 56 px */
    --sp-13: 3.75rem;
    /* 60 px */
}

/* BASE */
body {
    font-family: var(--font-primary);
    color: var(--texts);
    background-color: var(--background-01);
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-13);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-13);
    align-items: center;
}

button {
    background-color: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* LAYOUT */
body {
    padding: var(--sp-1) var(--sp-4);
}

.section {
    padding: var(--sp-1) var(--sp-3);
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-4);
    width: 100%;
}

.sub-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-2);
    align-items: center;
}

/* COMPONENTS */
.section {
    border-radius: 20px 0 20px 0;
    text-align: center;
}

.paragraph {
    font-size: var(--fs-body);
}

.titles-box {
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-1);
}

.list {
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-0);

}

.list-item {
    font-size: var(--fs-body);
}

.cta {
    background-color: var(--background-02);
    font-size: var(--fs-body);
    color: var(--texts);
    padding: var(--sp-1) var(--sp-0);
    font-weight: var(--fw-bold);
    border-radius: 15px;
    font-family: var(--font-primary);
    transition: 0.3s ease;

    border: solid 1px var(--main);
    background-image: linear-gradient( to right, var(--background-03), var(--background-01));
}

.cta:hover {
    transform: scale(1.1);
    color: var(--main);
    cursor: pointer;
    border: solid 3px var(--main);
    background-color: var(--background-02);
}

.product-img {
    width: 200px;
    height: 300px;
    margin: auto;
}

.carousel-navigation {
    display: flex;
    column-gap: var(--sp-0);
    justify-content: space-between;
    padding: var(--sp-1);
    column-gap: var(--sp-4);
}

.carousel-button {
    width: 60px;
    height: 36px;
    background-color: var(--background-02);
    border-radius: 10px;
    border: solid 1px var(--main);
    color: var(--main);
    box-shadow: var(--main) 0px 0px 1px;
    font-size: var(--fs-body);
    transition: ease 0.2s;
}

.carousel-button:hover {
    transform: scale(1.1);
    transition: ease 0.2s;
    cursor: pointer;
}

/* UTILITIES */
.h-sm {
    font-size: var(--fs-sm);
}

.h-lead {
    font-size: var(--fs-lead);
}

.h-lg {
    font-size: var(--fs-lg);
}

.h-xl {
    font-size: var(--fs-xl);
}

.highlight {
    color: var(--accent);
}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline 1px var(--accent);
}

.u-border {
    border: solid var(--main) 1px;
}

.u-border--translucid {
    border: solid var(--main-translucid) 1px;
}


/* SPECIFIC ELEMENTS */
.hero {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./media/hero-background-800px.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.target {
    background-color: var(--background-02);
}

.target__text {
    padding: var(--sp-0);
}

.target__list-item {
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
}

.target__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;

    width: var(--fs-body);
    height: var(--fs-body);

    -webkit-mask: url(./media/cpu-icon.svg) no-repeat center;
    mask: url(./media/cpu-icon.svg) no-repeat center;
    mask-size: contain;
    background-color: var(--main);
}

.short-info {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.hero__content,
.hero__media {
    display: flex;
    flex-direction: column;
    gap: var(--sp-3);
}

.beneficts {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./media/grid-background.webp);
    background-size: cover;
}

.testemonials {
    background-color: var(--background-02);
}

.testemonials__carousel {
    overflow: hidden;
    transition: ease 0.5s;
}

.testemonials__track {
    display: flex;
    transition: 0.5s;
    column-gap: var(--sp-1);
}

.testemonials__testemonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-shrink: 0;
    width: 100%;
    column-gap: var(--sp-1);
    row-gap: var(--sp-1);
    text-align: start;
    background-color: var(--background-03);
    border: solid 1px var(--main-translucid);
    padding: var(--sp-1);
    border-radius: 20px 20px 20px 0;
    font-size: var(--fs-sm);
}

.about-author {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./media/grid-background.webp);
    background-size: cover;
}

.about-author__team {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-4);
}

.about-author__carousel {
    padding: 0 0;
    overflow: hidden;
}

.about-author__track {
    display: flex;
    transition: 0.5s;
    column-gap: var(--sp-1);
}

.about-author__slide {
    display: flex;
    align-items: center;
    gap: var(--sp-1);
    flex-shrink: 0;

    width: 100%;
    max-width: 520px;

    background-color: var(--background-02);
    border-radius: 10px 10px 10px 50px;
}

.about-author__image {
    flex-shrink: 0;

    width: 120px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: 100% 40%;

    border-radius: 10px 0px 0px 50px;
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

.about-author__content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: start;
    padding: var(--sp-0);
}

.guarantee__content {
    padding: var(--sp-1);
    background-color: var(--background-02);
    border-radius: 10px;
}

.offer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./media/techno-background-mobile.webp);
    background-size: cover;
}

.offer__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-3);
}

.offer__texts {
    display: flex;
    flex-direction: column;
    row-gap: var(--sp-3);
}

.footer {
    margin-bottom: var(--sp-8);
    row-gap: var(--sp-2);
}